<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra, but Turbo!</title>
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
      import hotwiredStimulus from 'https://cdn.skypack.dev/@hotwired/stimulus';
    </script>

    <style>
      .flex {
        display: flex;
      }

      .flex-row {
        flex-direction: row;
      }
    </style>
  </head>

  <body>
    <h1>Sinatra but Turbo!</h1>
    <%= yield %>
  </body>
</html>
